

.LabInfo{
    height :400px;
}


.InfoContact {
    height: 250px;
}


.research-questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 400px;
}

.ResearchInfo{
    height: 200px;
    margin-bottom: 30px;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
}


