.LibraryRequest{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
}

.ProfilIncluded {
    height : 70px;
}

.Choice{
    display:flex;
    height:700px;

}

.BlocActivity, .BlocSource, .BlocSubSource, .BlocSubActivity {
    width: 300px;
    padding: 5px 5px 5px 5px;
    height: 600px;
    margin:10px 10px 10px 10px;
}

.QuestionDropdown{
    height: 400px;
}