
.Message {
    margin: 10px 10px 10px 10px;
}

.Board{
    flex-wrap: wrap;
    flex-direction: column;
    width: 900px;
    margin: auto;
    user-select: none;
}

.Tableau{
    display: flex;
    background-color: aqua;
}

.Bibliotheca {
    outline: 2px solid rgb(110, 109, 109);
    height : 300px;
    width : 400px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding-top: 30px;
}

.Partenariat {
    outline: 2px solid rgb(138, 137, 137);
    height : 300px;
    width : 400px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding-top: 30px;
}
