.About {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
  }

.Stats {
    display: flex;
    padding: 5px 5px 5px 10px;
    vertical-align: middle;
}

.Text {
    width: 700px;
    margin-left: 50px;
}

.Number {
    border: 3px solid black;
    width: 60px;
    height: 60px;
    text-align:center;
    margin-right: 100px;
    vertical-align: middle;
}

