.Article{
    font-size: 1em;
    outline: 2px solid silver;
    cursor: pointer;
    margin-bottom: 20px;
    padding : 5px 5px 5px 5px ;
    height:310px;
  }

.Presentation{
    display: flex;
}

.MainData {
    width: 600px;
    text-transform: none;
    font-weight: normal;
}

.Elements {
    flex-direction: column;
    background-color: #e1e3e8;
    width: 300px;
    margin-left: 300px;
    padding: 5px 5px 5px 5px;
}

.Review{
    display:flex;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    height:50px;
    background-color: "@blue";
}