

.recherche {
  /* flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  user-select: none; */
  width: 100%;
  
}

.requete {
 display: flex;
 justify-content: space-around;
 margin-bottom: 30px;
}

.resultat {
  margin-bottom: 30px;
}

.padded-container {
  padding-bottom: 1em;
}

.searchParameterRow {
  margin: 1rem;
  border: 1px solid #BBAB8F;
  border-radius: 5px;
  padding: 1rem;
}
