.BooksellerRequest{
    background-color:rgb(241, 239, 239);
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    width: 900px;
    margin: auto;
    user-select: none;
}