.BooksellerRequest{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
}

.RequestInfo {
    padding-top:30px;
    width:500px;
    margin-left: 100px;
}