.vertical-center{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.full-height{
    min-height: 100%;
}
.ui.grid > .row > .column.paddless-column{
    padding-left: 0px;
    padding-right: 0px;
}
.float-container{
    display:flex;
}
.fixed-center{
    position:fixed;
    top: 40%;
}
.menu-buttons-left{
    left: 1%;
}
.fixed-left-text{
    left: 8%;
}
.menu-buttons-right{
    right: 1%;
}

.fixed-right-text{
    right: 8%;
}
