.vertical-center{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.full-height{
    min-height: 100%;
}
.ui.grid > .row > .column.paddless-column{
    padding-left: 0px;
    padding-right: 0px;
}
.float-container{
    display:flex;
}
.fixed-center{
    position:fixed;
    top: 40%;
}
.fixed-left{
    left: 1%;
}
.fixed-right{
    right: 2%;
}
.left-align {
    float:left;
}
