.Wel{
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
}

.Bo{
    display: flex;
}

.Welc{
    width: 900px;
    height: 700px;
    vertical-align: middle;
    margin-top: 50px;
   
}

.Log {
    width: 500px;
    height: 500px;
    vertical-align: middle;
    margin-top: 50px;
}