.ProfilLab{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    width: 900px;
    margin: auto;
    user-select: none;
    height : 2500px;
}

.InfoLab{
    padding-top:30px;
}


.InfoContact {
    padding-top: 30px;
}


.Titre{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.InfoRecherche{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.SameResearch {
    height:200px;
}

.DifferentResearch {
    height : 200px;
}

.Confidentialite {
    padding-top:30px;
    height : 100px;
}

.Acceptation {
    padding-top:30px;
}


.Partie2{
    
    height: 100px;
    background-color: pink;

}


