
  
.ProfilLab{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
}

.Title {
    text-align: center;
}


.LabInfo{
    height :270px;
}


.ContactInfo {
    height: 200px;
}


.ResearchQuestion{
    display: flex;
    justify-content: space-between;
    height : 30px;
}

.ResearchInfo{
    height: 170px;
    margin-bottom: 30px;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
}


.Confidentialite {
}

.Partie2{
    height: 100px;
    background-color: pink;

}


.Acceptation {
    display: flex;
}




