.PartnerStudy {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: auto;
    user-select: none;
    height:1000px;

  }

.LabInfoRequest {
    height:150px;
    padding-top:30px;
    margin-left: 30px;
}

.LabCountry {
    height :150px;
    padding-top:30px;
    margin-left: 30px;
}

.ResearchTitle {
    display: flex;
    padding-top:30px;
    margin-left: 30px;
}


.ResearchRequest{
 display:flex;
 justify-content: space-between;
 margin-left: 30px;
 margin-right: 30px;
}

.Project{
    height : 150px;
    padding-top:30px;
    margin-left: 30px;
}

.Button {
    height:70px;
    padding-top:30px;
    margin-left: 30px;
}